@import "syntax-variables";

atom-text-editor, :host {
  background-color: @syntax-background-color;
  color: @syntax-text-color;
}

atom-text-editor .gutter, :host .gutter {
  background-color: @syntax-gutter-background-color;
  color: @syntax-gutter-text-color;
}

atom-text-editor .gutter .line-number.cursor-line, :host .gutter .line-number.cursor-line {
  background-color: @syntax-gutter-background-color-selected;
  color: @syntax-gutter-text-color-selected;
}

atom-text-editor .gutter .line-number.cursor-line-no-selection, :host .gutter .line-number.cursor-line-no-selection {
  color: @syntax-gutter-text-color-selected;
}

atom-text-editor .wrap-guide, :host .wrap-guide {
  color: @syntax-wrap-guide-color;
}

atom-text-editor .indent-guide, :host .indent-guide {
  color: @syntax-indent-guide-color;
}

atom-text-editor .invisible-character, :host .invisible-character {
  color: @syntax-invisible-character-color;
}

atom-text-editor .search-results .marker .region, :host .search-results .marker .region {
  background-color: transparent;
  border: @syntax-result-marker-color;
}

atom-text-editor .search-results .marker.current-result .region, :host .search-results .marker.current-result .region {
  border: @syntax-result-marker-color-selected;
}

atom-text-editor.is-focused .cursor, :host(.is-focused) .cursor {
  border-color: @syntax-cursor-color;
}

atom-text-editor.is-focused .selection .region, :host(.is-focused) .selection .region {
  background-color: @syntax-selection-color;
}

atom-text-editor.is-focused .line-number.cursor-line-no-selection, atom-text-editor.is-focused .line.cursor-line, :host(.is-focused) .line-number.cursor-line-no-selection, :host(.is-focused) .line.cursor-line {
  background-color: rgba(0, 0, 0, 0.07);
}

.comment {
  color: #535353;
  background-color: #212223;
}

.string {
  color: #5F88B8;
  background-color: rgba(1, 10, 46, 0.25);
}

.constant.numeric {
  color: #E5DA39;
}

.constant.language {
  color: #D56E26;
}

.constant.character, .constant.other {
  color: #C7EB37;
}

.variable.language, .variable.other {
  color: #55A9DB;
}

.keyword {
  color: #62BA4D;
}

.storage {
}

.entity.name.class {
}

.entity.other.inherited-class {
}

.entity.name.function, .keyword.operator, .keyword.other.name-of-parameter {
  color: #A3A3A3;
}

.variable.parameter {
}

.entity.name.tag {
}

.entity.other.attribute-name {
}

.support.function {
  color: #66FFCC;
}

.support.constant {
}

.support.type, .support.class {
}

.support.other.variable {
}

.invalid {
}

.support.class, .support.type, .entity.name {
  color: #5F88B8;
}

.string.unquoted.embedded, .text .source, .string.unquoted {
  background-color: rgba(0, 22, 43, 0.25);
}

.constant.character.escaped, .string .source:not(.string.unquoted.embedded), .string .string .source {
  color: #999999;
}
